.main-registration-outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;

}
.main-registration-inner-container-primary{
    height: 400px;
    padding: 10px;
    font-size: 30px;
    font: normal normal normal 32px/44px Mongolian Baiti;
    color: #101010;
    border-radius: 10px;
    background-color: white;
}
.main-registration-inner-container-secondary{

}

.lable-input-pair{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.lable-input-pair label{
color: #101010;
font: normal normal 600 20px/24px Gilroy;
}
.lable-input-pair input{
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 5px;

}
.lable-input-pair input::placeholder{
font-size: 16px;
}

.sign-up-button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-button button{
    background-color: #88C2BB;
    border-radius: 10px;
    font-size: 30px;
    width: 200px;
    height: 70px;
    cursor: pointer;
}